<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <title>System Wyborów Studenckich | Kacper Kula</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Kacper Kula">
    <base href="{{base_path}}" />

    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    {% block header %}
    {% endblock %}
    
  </head>

  <body>
{% block body %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="">System Wyborów</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><a href="#">O Projekcie</a></li>
              <li><a href="elections">Wybory</a></li>
              <li><a href="admin">Panel Administracyjny</a></li>
            </ul>
			  <ul class="nav pull-right">
				  {% if user is defined and user.name is defined and user.surname is defined %}
					  <li class="navbar-text">{{user.name}} {{user.surname}}</li>
					  <li><a href="auth/logout">Wyloguj</a></li>
				{% else %}
				  <li><a href="auth">Zaloguj</a></li>
				{% endif %}
			  </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        {% block middle %}
	{% endblock %}
      </div><!--/row-->

      <hr>

      <footer>
	      <p>&copy; Kacper "kulak" Kula, 320786. {% if debug is defined %}<span class="pull-right">env: {{ debug.env}}<br/>PHP Version: {{debug.php}} </span>{% endif %}</p>
      </footer>

    </div><!--/.fluid-container-->
	{% endblock %}
    {% block js %}
    {% endblock %}

  </body>
</html>
