{% extends "layouts/layout.twig" %}
{% block middle %}
<div class="span3">
          {% block menu %}
	  {% endblock %}
        </div><!--/span-->
        <div class="span9">
          {% block content %}{% endblock %}
        </div><!--/span-->
{% endblock %}