{% extends "views/elections/menu.twig" %}

{% block js %}
<script>
	$(function() {
		$('.candidate').bind('click',function() {
			return confirm('Jesteś pewny? Tej decyzji nie można cofnąć!');
		});
	});
</script>
{% endblock %}

{% block content %}
{% if msg is defined and msg %}
<div class="alert alert-{{msg.0}}"><a href="#" class="close" data-dismiss="alert">&times;</a>{{msg.1}}</div>
{% endif %}
<h2>{%if type == 'past'%}Zakończone{% elseif type == 'active' %}Aktywne{%else%}Przyszłe{%endif%} Wybory</h2>
	{% if elections is empty %}
	<p>Aktualnie nie trwają żadne wybory</p>
	{% endif %}
	{% for chunk in elections %}
	<div class="row-fluid">
	{% for election in chunk %}
			<div class="span4 well-small well">
					<h4>{{election.name}}</h4>
					<p>{{election.description}}</p>
					<p>Zaakceptowanych kandydatów: {{election.accepted_candidates}}</p>
					<p>Odrzuconych kandydatów: {{election.rejected_candidates}}</p>
					<p>{{election.start_date|date("d/m/Y H:i")}} - {{election.end_date|date("d/m/Y H:i")}}</p>
					{% if type == 'past' %}
					<p>Ilość głosów: {{election.votes_count}}</p>
					{%if election.is_p %}<a href="elections/result/{{election.election_id}}" class="btn btn-primary">Zobacz wyniki</a>{% endif %}
					{% elseif type == 'active' %}
						{% if election.has_v %}
							<div class="btn disabled">Głosowałeś już</div>
						{% else %}
							<a href="elections/vote/{{election.election_id}}" class="btn btn-success">Głosuj</a>
						{% endif %}
					{% else %}
						Termin zgłoszeń kandydatur: {{election.candidates_deadline}}
						{% if(election.candidates_deadline|date('Y/m/d H:i')) > (now|date('Y/m/d H:i'))%}
						<br/><br/><a href="elections/join/{{election.election_id}}" class="btn btn-success candidate">Kandyduj</a>
						{% endif %}
					{% endif %}
			</div>
	{% endfor %}
		</div>
	{% endfor %}
{% endblock %}