{% extends "layouts/menu.twig" %}

{% block menu %}
<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Wybory</li>
		<li><a href="elections/">Aktywne wybory</a></li>
		<li><a href="elections/future">Przyszłe wybory</a></li>
		<li><a href="elections/past">Zakończone wybory</a></li>
	</ul>
</div><!--/.well -->
{% endblock %}