{% extends "layouts/no_menu.twig" %}

{% block header %}

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

{% endblock %}

{% block js %}
<script>
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Wyniki procentowe'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 2
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Procent głosów',
                data: {{chart_json|raw}}
            }]
        });
    });
    
});
</script>
<style>
		.strong { font-weight: bold; }
</style>
{% endblock %}

{% block content %}
<h1>Nazwa wyborów</h1>
<a href="elections/past" class="btn btn-success"><i class="icon-backward icon-white"></i> Powrót</a>
<hr/>

<div class="row-fluid">
	<div class="span5">
		<table class="table table-striped table-condensed">
			<thead>
				<tr>
					<th>Id</th>
					<th>Kandydat</th>
					<th>Ilość Głosów</th>
					<th>Procent Głosów</th>
				</tr>
			</thead>
			<tbody>
				{% for c in candidates %}
				<tr>
					<td>{{c.candidate_id}}</td>
					<td class="{%if c.is_winner %}strong{%endif%}">{{c.name}} {{c.surname}}</td>
					<td>{{c.votes}}</td>
					<td>{{c.per|number_format(2)}}%</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="well">Nazwiska osób które wygrały wybory zostały pogrubione.</div>
	</div>
	<div class="span7">
		<div id="container"></div>
	</div>
</div>
{% endblock %}