{% extends "views/elections/menu.twig" %}

{% block header %}

{% endblock %}

{% block js %}
<script>
$(function () {
	
	$('form').bind('submit',function() {
		var l =$('input:checked').length;
		if(l > {{election.votes_limit}} ) {
			alert('Za dużo oddanych głosów. Maksymalnie {{election.votes_limit}}. Oddano ' + l + '.');
			return false;
		}
	
		if(l == 0) {
			alert('Musisz oddać co najmniej jeden głos!');
			return false;
		}
	
	
	
		return confirm('Czy jesteś pewny?');
	});
	
});
	</script>
{% endblock %}

{% block content %}
	<h1>{{election.name}}</h1>
	<h3>Możesz oddać głos na maksymalnie {{election.votes_limit}} kandydat{%if election.votes_limit==1%}a{%else%}ów{%endif%}.</h3>


	<form method="POST" class="form-horizontal">
		<div class="control-group">
			<label class="control-label">Kandydaci</label>
			<div class="controls">

			{% for user in candidates %}
				<label class="checkbox">
					<input type="checkbox" name="vote[]" value="{{user.candidate_id}}">
				{{user.name}} {{user.surname}}
				</label>
			{% endfor %}
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" value="Głosuj" class="btn btn-primary btn-large" />
			</div>
		</div>
	</form>


{% endblock %}