{% extends "views/about/menu.twig" %}

{%block content %}
<h2>Dane</h2>
<p>System został zasilony danymi testowymi. W jego skład wchodzi 20000 kont użytkowników.</p>
<h3>Logowanie</h3>
<p>Przykładowe numery indeksów z systemu (w celu logowania):</p>
<ul>
	<li>125150</li>
	<li>125067</li>
	<li>125184</li>
	<li>125330</li>
	<li>125541</li>
	<li>125577 (konto administratora)</li>
</ul>
<p>Hasło do wszystkich kont w systemie to <strong>qwerty</strong>.</p>
{% endblock %}