{% extends "views/about/menu.twig" %}

{%block content %}
<div class="hero-unit">
	<h1>System Wyborów Studenckich</h1>
	<p>Interaktywny system zarządzania wyborami studenckimi.</p>
</div>
<div class="row-fluid">
	<div class="span7">
		<h2>Treść zadania</h2>
<h3>Założenia</h3>

<p>Samorząd studencki potrzebuje oprogramowania do obsługi rozmaitych wyborów samorządowych. Oprogramowanie powinno być oparte na bazie danych. Kontakt z użytkownikami może odbywać się przez przeglądarkę WWW lub lokalny program kliencki, ale powinien być komfortowy (czyli interfejs tekstowy wykluczamy).</p>
<br/>
<p>Wyróżnia się dwie kategorie użytkowników:</p>
<ul>
	<li>komisja wyborcza</li>
	<li>wyborca</li>
</ul>
<br/>
<p>Wyborca powinien mieć możliwość:</p>

<ul>
	<li>zgłaszania kandydatów</li>
	<li>głosowania na kandydatów</li>
	<li>oglądania wyników wyborów (po ich zakończeniu).</li>
</ul>
<br/>

<p>Do obowiązków komisji wyborczej należy</p>

<ul>
	<li>rejestrowanie nowych wyborców</li>
	<li>rejestrowanie nowych wyborów: nazwa, liczba posad, termin zgłaszania kandydatów, termin rozpoczęcia i zakończenia głosowania</li>
	<li>publikowanie wyników wyborów.</li>
</ul>
	</div>
	<div class="span5 well well-small">
		<h3>Dodatkowe założenia</h3>
		<ul>
			<li>Użytkownik może zgłosić swoją kandydaturę do wyborów (nie ma możliwości zgłaszania innych kandydatur - i tak użytkownik powinien być świadomy, że kandyduje w wyborach).</li>
			<li>Podczas tworzenia wyborów członek komisji definiuje liczbę posad w wyborach oraz ilość głosów jakie ma głosujący.</li>
			<li>Użytkownik może zagłosować w wyborach jeden raz: wybiera od 0 do N kandydatów (N zależne od konkretnych wyborów). Jeśli oddał mniej niż N głosów, nie ma możliwości ponownego głosowania</li>
			<li><strong>Po zakończeniu wyborów</strong> w panelu administracyjnym członek komisji otrzymuje możliwość opublikowania wyników wyborów.</li>
			<li>Członek komisji wyborczej może akceptować kandydatów zawsze. Zaakceptowanego kandydata nie można już unieważnić.</li>
			<li>Termin zgłaszania kandydatów < Termin rozpoczęcia wyborów</li>
			<li>Członek komisji również jest wyborcą.</li>
			<li>Kandydat może zagłosować na siebie samego.</li>
		</ul>
	</div>
</div>
{% endblock %}