{% extends "layouts/menu.twig" %}

{% block menu %}
<div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">O projekcie</li>
              <li><a href="">Wstęp</a></li>
              <li><a href="about/tech">Technologie</a></li>
              <li class="nav-header">Materiały</li>
	      <li><a href="about/erd">Diagram ERD</a></li>
              <li><a href="about/sql">SQL: Struktura</a></li>
			  <li><a href="about/views">SQL: Widoki</a></li>
			  <li><a href="about/procedures">SQL: Procedury</a></li>
			  <li><a href="about/triggers">SQL: Wyzwalacze</a></li>
              <li><a href="about/data">Dane do logowania</a></li>
	      <li class="nav-header">Autor</li>
	      <li><a href="about/author">O Autorze</a>
            </ul>
          </div><!--/.well -->
{% endblock %}