{% extends "views/about/menu.twig" %}

{% block header %}
<link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
<script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
{% endblock %}

{% block js %}
<script>
  $(function() {
	$('pre.code').each(function(i,e) {
		hljs.highlightBlock(e);
	});
  });
</script>
{% endblock %}

{%block content %}
<h2>{{header}}</h2>
<pre class="code language-sql">{{sql}}</pre>
{% endblock %}