{% extends "views/about/menu.twig" %}

{%block content %}
<h2>Zastosowane technologie i narzędzia:</h2>
<ul>
	<li><a href="http://php.net/" target="_blank">PHP 5.3</a></li>
	<li><a href="http://silex.sensiolabs.org/" target="_blank">Silex Framework</a></li>
	<li><a href="http://twig.sensiolabs.org/" target="_blank">Twig Template System</a></li>
	<li><a href="http://jquery.com" target="_blank">jQuery</a></li>
	<li><a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a></li>
	<li><a href="http://getcomposer.org/" target="_blank">Composer Package Manager</a></li>
	<li><a href="http://bitbucket.org" target="_blank">Bitbucket.org</a></li>
	<li><a href="http://highcharts.com" target="_blank">Highcharts</a></li>
</ul>
{% endblock %}
