{% extends "layouts/no_menu.twig" %}

{% block content %}
<h1>{{student.name}} {{student.surname}}</h1>
<h2>Numer indeksu: {{student.index_number}}</h2>
<h2>Pesel: {{student.pesel}}</h2>
<p>Z widoku jeszcze będziemy wyciągać datę urodzenia i płeć :)</p>
{% endblock %}