{% extends "views/admin/menu.twig" %}

{% block content %}
<a href="admin/new-elections" class="btn">Add New Elections</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Candidate Id</th>
			<th>Index Number</th>
			<th>Name</th>
			<th>Accepted?</th>
		</tr>
	</thead>
	<tbody>
		{% for user in candidates %}
			<tr>
				<td>{{user.candidate_id}}</td>
				<td>{{user.user_id}}</td>
				<td>{{user.name}} {{user.surname}}</td>
				<td>{% if user.is_accepted%}TAK{%else%}NIE <a href="admin/accept-candidate/{{user.candidate_id}}" class="btn btn-small btn-success">Akceptuj</a>{%endif%}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}