{% extends "views/admin/menu.twig" %}

{% block content %}
<a href="admin/new-elections" class="btn">Add New Elections</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nazwa</th>
			<th>Opis</th>
			<th>Data zgłaszania kand.</th>
			<th>Data rozpoczęcia</th>
			<th>Data zakończenia</th>
			<th>Limit miejsc</th>
			<th>Limit głosów</th>
			<th>Publikuj</th>
		</tr>
	</thead>
	<tbody>
		{% for election in elections %}
			<tr>
				<td>{{election.election_id}}</td>
				<td><a href="admin/elections/{{election.election_id}}">{{election.name}}</a></td>
				<td>{{election.description}}</td>
				<td>{{election.candidates_deadline}}</td>
				<td>{{election.start_date}}</td>
				<td>{{election.end_date}}</td>
				<td>{{election.places_limit}}</td>
				<td>{{election.votes_limit}}</td>
				<td>{% if election.is_f%}
						{% if election.is_p %}
										<a href="admin/unpublish/{{election.election_id}}" class="btn btn-danger btn-small">Zdejmij</a>
										<a href="elections/result/{{election.election_id}}" class="btn btn-primary btn-small">Wyniki</a>	
						{% else %}
					<a href="admin/publish/{{election.election_id}}" class="btn btn-success btn-small">Publikuj</a>
					{%endif%}{%endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}