{% extends "views/admin/menu.twig" %}

{% block content %}
<table class="table table-striped">
	<thead>
		<tr>
			<th>Index Number</th>
			<th>Name</th>
			<th>Surname</th>
			<th>login time</th>
		</tr>
	</thead>
	<tbody>
		{% for user in logs %}
			<tr>
				<td>{{user.index_number}}</td>
				<td>{{user.name}}</td>
				<td>{{user.surname}}</td>
				<td>{{user.login_time}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}