{% extends "layouts/menu.twig" %}

{% block menu %}
<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">Wybory</li>
		<li><a href="admin">Wybory</a></li>
		<li><a href="admin/users">Użytkownicy</a></li>
	</ul>
</div><!--/.well -->
{% endblock %}