{% extends "views/admin/menu.twig" %}

{% block content %}
{% if msg is defined and msg %}
<div class="alert alert-{{msg.0}}"><a href="#" class="close" data-dismiss="alert">&times;</a>{{msg.1}}</div>
{% endif %}
<form method="POST" class="form-horizontal">
	
	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<input type="text" name="name" value="{{form.name}}" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Description</label>
		<div class="controls">
			<textarea name="description">{{form.description}}</textarea>
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Candidates Deadline<br/>Format: YYYY-MM-DD</label>
		<div class="controls">
			<input type="text" name="candidates_date" value="{{form.candidates_date}}" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Start Date<br/>Format: YYYY-MM-DD</label>
		<div class="controls">
			<input type="text" name="start_date" value="{{form.start_date}}" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">End Date<br/>Format: YYYY-MM-DD</label>
		<div class="controls">
			<input type="text" name="end_date" value="{{form.end_date}}" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Places limit</label>
		<div class="controls">
			<input type="text" name="places_limit" value="{{form.places_limit}}" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Votes limit</label>
		<div class="controls">
			<input type="text" name="votes_limit" value="{{form.votes_limit}}" />
		</div>
	</div>
	
	<div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Add</button>
    </div>
  </div>
	
</form>

{% endblock %}