{% extends "views/admin/menu.twig" %}

{% block content %}
{% if msg is defined and msg %}
<div class="alert alert-{{msg.0}}"><a href="#" class="close" data-dismiss="alert">&times;</a>{{msg.1}}</div>
{% endif %}
<form method="POST" class="form-horizontal">
	
	<div class="control-group">
		<label class="control-label">Index Number</label>
		<div class="controls">
			<input type="text" name="index" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">PESEL</label>
		<div class="controls">
			<input type="text" name="pesel" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Name</label>
		<div class="controls">
			<input type="text" name="name" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Surname</label>
		<div class="controls">
			<input type="text" name="surname" />
		</div>
	</div>
	
	<div class="control-group">
		<label class="control-label">Password</label>
		<div class="controls">
			<input type="password" name="password" />
		</div>
	</div>
	
	<div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Add</button>
    </div>
  </div>
	
</form>

{% endblock %}