{% extends "views/admin/menu.twig" %}

{% block content %}
<a href="admin/new-user" class="btn">Add New User</a> <a href="admin/login-log" class="btn">Logins log</a>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Index Number</th>
			<th>Pesel</th>
			<th>Name</th>
			<th>Surname</th>
			<th>Last login</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
			<tr>
				<td>{{user.index_number}}</td>
				<td>{{user.pesel}}</td>
				<td>{{user.name}}</td>
				<td>{{user.surname}}</td>
				<td>{{user.last_login}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

<a href="admin/users/{{page-1}}">Previous</a> ... <a href="admin/users/{{page+1}}">Next</a>


{% endblock %}